body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: red;
    width: 100%;
    height: 50px;
}

main {
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main div {
    width: 272px;
    height: 92px;
}

main div img {
    width: 100%;
    height: 100%;
}

main form input {
    height: 45px;
    width: 582px;
    border-radius: 33px;
    border: 1px solid #dfe1e5;
    margin-top: 30px;
}

main form input:hover {
    box-shadow: 2px 2px 13px #eee;
}


main form label {
    display: block;
}

footer {
    background-color: #f2f2f2;
    width: 100%;
    height: 85px;
    font-family: arial;
    color:#838383;
    border-top: 1px solid #e4e4e4;
    
    
  
}

nav {
    color:#534D4D;
    float: left;
    margin-top: 15px;  
    
    
}

#navDerecha{
        float: right;
        margin-right: 25px;
        
}
a{
    margin-left: 25px;
    font-size: 13px;
    font-family:   Arial, sans-serif;
}

#divFooter{
    text-align: left;
    margin-top: 10px;
    margin-left: 25px;
    margin-bottom: 7px;
    
    font-size: 15px;
    
 
}

#container{
    border-top: 1px solid #e4e4e4;
    }